@import './var.scss';
@import './mixins.scss';

.pin-detail {
  display: flex;
  justify-content: center;
  background: #e5e5e5;
  min-height: 100vh;
  &__container {
    max-width: 628px;
    background: #fff;
    padding: 0 32px; //min 768px 32px min 567 16px 12px
    margin: 32px auto;
    margin-top: 64px; // todo
    border-radius: 8px;
  }
  &__header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 8px 0; //min 768px 32px min 567 16px 12px
    background-color: #fff;
    z-index: 99;
    .pin-detail__header-left {
      float: left;
    }
    &-left {
      float: right;
      span {
        vertical-align: 5px;
      }
    }
  }
  &__card{
    display: flex;
    justify-content: center;
    img {
      min-width: 474px;
      max-width: 736px;
      border-radius: 8px;
    }
  }
  &__save {
    margin-right: 0;
    margin-top: 2px;
    .pin-svg-icon {
      transform-origin: -10px -10px;
      fill: #fff;
    }
    span {
      vertical-align: 3px;
    }
  }
  &__btn-group {
    .btn {
      border-radius:24px;
      border: none;
      color: #b5b5b5;
      margin: 0 8px;
    }
    .pin-detail__icon--back {
      position: fixed;
      top: 20px;
      left: 16px;
      color: $primary-color-dark;
      .pin-svg-icon {
        fill: $primary-color-dark;
      }
    }
    .pin-detail__icon-text {
      display: none;
    }
  }
  &__user, &__description, &__published {
    padding: 12px 0 12px 8px;
  }
  &__user, &__description {
    border-bottom: 1px solid #efefef;
  }
  &__user {
    display: flex;
    justify-content: space-between;
    img {
      margin-right: 6px;
    }
  }
}
.pin-svg-icon {
  fill: #b5b5b5;
}
