@import './var.scss';
@import './mixins.scss';

// /* common */
.pin-container {
  padding: 0;
}
.pin-content {
  // min-height: calc(100vh - 89px);
  padding-top: 20px;
}
.stack-grid {
  @include clearfix;
}
.pin-create__button {
  position: fixed;
  right: 10px;
  bottom: 50px;
  width: 40px;
  height: 40px;
  line-height: 26px;
  background-color: #fefefe;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0.5px rgba(0, 0, 0, 0.04);
  z-index: 110;
  cursor: pointer;
  .pin-svg__icon {
    width: 14px;
    height: 14px;
  }
}
/* content */
.pin-card-item {
  display: block;
  border-radius: 8px;
  a:hover {
    text-decoration: none;
  }
  .pin-card {
    height: 100%;
    &__content {
      border-radius: 8px;
      img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
      &::after {
        pointer-events: none;
        @include cover-block;
        content: " ";
        background: rgba(0, 0, 0, .1);
        border-radius: 6px;
        overflow: hidden;
      }
    }
    span {
      display: block;
      overflow: hidden;
      margin-right: 24px;
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
}
