@import './var.scss';
@import './mixins.scss';

@keyframes scrollBgGridLinks {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-300px);
  }
}
.pin-login {
  height: 100vh;
}
.pin-login__overlay {
  @include cover-block;
  background: rgba(0,0,0,.5);
}
.pin-login__back-image {
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  padding-bottom: 300px;
  background-color: #000;
  background-image: url(/static/bg.jpg);
  background-position: 0 0;
  background-size:  cover;
  animation: scrollBgGridLinks 35s linear;
  animation-fill-mode: forwards;
}
.pin-login__container {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -266px;
  transform: translateX(-50%);
  width: 400px;
  min-height: 533px;
  border-radius: 8px;
  background-color: #fff;
}
.pin-login__header {
  position: relative;
  width: 55px;
  height: 55px;
  margin: 30px auto 0;
}
.pin-login__title {
  margin: 5px 26px 26px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #555;
}
.pin-login__form {
  position: relative;
  width: 268px;
  margin: 0 auto;
  text-align: center;
  input {
    width: 100%;
    padding: 10px 14px;
    box-sizing: border-box;
    border: 1px solid #efefef;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    cursor: text;
    word-spacing: 0;
  }
  input:focus {
    box-shadow: 0 0 0 4px rgba(0,132,255,.5);
    outline: 0;
  }
  button {
    width: 100%;
    height: 36px;
    border: 0px;
    border-radius: 4px;
    outline: none;
    background-color: #bd081c;
    color: #fff;
    cursor: pointer;
    &:focus,
    &:hover {
      background-color: #d50c22
    }
  }
}
