@import './var.scss';
@import './mixins.scss';

.pin-create {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  display: flex;
  cursor: zoom-out;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 690;
}
.pin-create__container {
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  .pin-create__header {
    position: relative;
    border-bottom: 1px solid #efefef;
    h2 {
      padding: 20px 50px;
      margin: 0;
      text-align: center;
    }
    .btn-icon {
      position: absolute;
      right: 10px;
      top: 50%;
      width: 40px;
      height: 40px;
      transform: translateY(-50%);
      padding: 8px;
      // display: flex;
      // justify-content: flex-end;
    }
  }
  .pin-create__content {
    flex: 1;
    border-bottom: 1px solid #efefef;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    cursor: auto;
    &-left {
      width: 50%;
      display: flex;
      justify-content: center;
      padding:  0 5%;
      .upload {
        border-radius: 8px;
        background: #efefef;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
          display: none;
        }
        div {
          text-align: center;
        }
      }
      .pin-create__upload-file {
        display: flex;
        align-self: center;
        width: 100%;
        border-radius: 8px;
      }
    }
    &-right {
      width: 50%;
      input::placeholder, textarea::placeholder {
        color: $primary-color;
        font-weight: bold;
      }
      input, textarea {
        margin-bottom: 10px;
        border: none;
        border-radius: 6px;
        background-color: $primary-color-light;
        &:active,
        &:focus {
          box-shadow: 0 0 0 4px rgba(0,132,255,.5);
        }
      }
      textarea {
        width: 100%;
      }
    }
  }
  .pin-create__footer {
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    button {
      padding: 9px 18px;
      height: 40px;
    }
  }
}
