@import './var.scss';
@import './mixins.scss';

.pin-user__header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 10%;
  .pin-user__header-left {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    flex: 2;
    h1 {
      flex: 1;
      text-align: center;
      margin-bottom: 32px;
    }
    .pin-user__follow,{
      display: flex;
      justify-content: center;
      >div {
        margin-left: 15%;
      }
    }
    p {
      margin-bottom: 0;
    }
    h6 {
      color: $primary-color;
    }
  }
  .pin-user__header-right {
    flex: 1;
    max-width: 210px;
    margin-right: 15%;
    .pin-user__avatar {
      width: 100%;
      padding-bottom: 100%;
      height: 0;
      background: $primary-color;
      border-radius: 50%;
    }
  }
}
.pin-user__profile-content {
  margin: 32px;
}
.pin-user__pins {
  display: flex;
  flex-wrap: wrap;
  .pin-card {
    display: inline-block;
    margin: 10px;
    .pin-card__content {
      margin-bottom: 5px;
      border-radius: 6px;
      width: 236px;
      height: 236px;
      overflow: hidden;
      img {
        min-width: 100%;
        min-height: 100%;
      }
    }
  }
  .pin-card--create {
    .pin-card__content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .pin-card__create-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      .pin-svg__icon {
        fill: #bd081c;
      }
    }
    .pin-card__content {
      background-color: $primary-color-light;
    }
    h5 {
      color: $primary-color;
    }
  }
}
