
@import "./var.scss";
@import "~spectre.css/src/spectre";
@import "./animation.scss";
@import "./customize.scss";
@import "./header.scss";
@import "./home.scss";
@import "./detail.scss";
@import "./login.scss";
@import "./signup.scss";
