// color
$primary-color: #b5b5b5;
$primary-color-light: #efefef;
$primary-color-dark: #555;
$secondary-color: #efefef;

$pin-color: #bd081c;
$pin-color-dark: #ad081b;
// font size
$control-size-lg: 2.4rem;
